<a href="https://colab.research.google.com/github/Adityasingh202/algorithem-in-paython/blob/main/assignment_1_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#sum and average
a=int(input("enter marks"))
b=int(input("enter marks"))
c=int(input("enter marks"))
d=int(input("enter marks"))
e=int(input("enter marks"))
sum=a+b+c+d+e
average=a+b+c+d+e/5
print(sum)
print(average)

enter marks100
enter marks80
enter marks57
enter marks72
enter marks90
399
327.0

In [2]:
#sum of natural number
a=int(input("enter a number"))
sum=0
for i in range(1,a+1):
    sum=sum+i
print(sum)

enter a number80
3240

In [3]:
#factoriyal
a=int(input("enter a number"))
fact=1
for i in range(1,a+1):
    fact=fact*i
print(fact)

enter a number5
120

In [4]:
#while loop
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
i=10
while (i!=0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [7]:
n=int(input("enter a number"))
i=int(input("enter table till"))
j=1
while (j<=i):
    print(n*j)
    j=j+1

enter a number2
enter table till10
2
4
6
8
10
12
14
16
18
20

In [8]:
def add():
    a=5
    b=6
    c=a+b
    print(c)
add()

11

In [9]:
def sub():
    a=int(input("enter a number"))
    b=int(input("enter a number"))
    c=a-b
    print(c)
sub()

enter a number100
enter a number20
80

In [10]:
def add(a,b):
    print(a+b)
add(5,3)

8

In [11]:
c=int(input("enter a number "))
d=int(input("enter a number "))
def add(a,b):
    print(a+b)
add(c,d)

enter a number 100
enter a number 20
120

In [12]:
def sum(a,b):
    a=5
    b=6
    print(a+b)
def add(a,b):
    a=6
    b=3
    print(a-b)
def disp():
    sum(a,b)
    add(a,b)

disp()

11
3

In [13]:
r=int(input("enter radius of circle"))
area=(22//7)*(r)**2
circum=2*(22/7)*r
print(area)
print(circum)

enter radius of circle7
147
44.0

In [14]:
c=float(input("enter temperature of today "))
f=c*(9/5)+32
print(f)

enter temperature of today 20
68.0

In [15]:
p=int(input("enter principal amount "))
r=float(input("enter rate of intrest "))
t=int(input("enter time for intrest "))
s=(p*r*t)/100
print(s)

enter principal amount 70
enter rate of intrest 60
enter time for intrest 50
2100.0

In [16]:
p=int(input("enter principal amount "))
r=float(input("enter rate of intrest "))
t=int(input("enter time for intrest "))
s=p*((1+r/100)**t)-p
print(s)

enter principal amount 100
enter rate of intrest 5
enter time for intrest 10
62.889462677744206

In [17]:
a=float(input("enter first no."))
b=float(input("enter second no."))
c=float(input("enter third no."))
d=float(input("enter fourth no."))
if (a>b and a>c and a>d):
    print("greatest number is :" , a)
elif (b>c and b>d):
    print("greatest numbe is :", b)
elif(c>d):
    print("greatest number is :", c)
elif(d>c):
    print("greatest number is :", d)
else:
    print("either all value is equal")

enter first no.100
enter second no.90
enter third no.80
enter fourth no.70
greatest number is : 100.0

In [18]:
y=int(input("enter your age "))
if (y>5 and y<12):
    print("kid")
elif (y>=12 and y<18):
    print("teenager")
elif (y>=18 and y<25):
    print("younger")
elif (y>=25 and y<35):
    print("mature")
elif (y>=35 and y<50):
    print("old")
else:
    print("senior citizen")

enter your age 34
mature

In [19]:
n=int(input("enter limit "))
s=0
for i in range(1,n):
    s=i+s
print("the sum is",s)

enter limit 10
the sum is 45

In [21]:
a=int(input("enter a number"))
factorial=1
if a<0:
    print("sorry factorial does not exit for negative number")
elif a==0:
    print("factorial of 0 is 1")
else:
    for i in range(1,a+1):
        factorial=factorial*i
    print("the factorial of",a,"is",factorial)

enter a number7
the factorial of 7 is 5040

In [22]:
a=int(input("enter a multiplication number"))
i=0
for i in range(1,11):
    i=a*i
    print(i)

enter a multiplication number20
20
40
60
80
100
120
140
160
180
200

In [24]:
n=int(input("enter the number "))
for i in range(n,0,-1):
    for j in range (0,i):
        print("*",end="")
    print()

enter the number 10
**********
*********
********
*******
******
*****
****
***
**
*

In [25]:
#1
n= int(input("enter a number"))
for i in range(1,n):
    print(i)

enter a number20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [26]:
#2
l=[]
n = int(input("enter number of list to start"))
for i in range (0,n):
    l.append(i)
print(l)

enter number of list to start10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
#3
l=[1,2,3,4,5,6]
a=l[0],l[5]=l[5],l[0]
print(l)

[6, 2, 3, 4, 5, 1]

In [28]:
#4
a=int(input("enter a number"))
b=int(input("enter a number"))
if a==b:
    print(a ,"=", b)
else:
    print(a, "!=", b )

enter a number10
enter a number20
10 != 20

In [29]:
#5
a=50
b=40
c=30
if a>b:
    print(a,"is largest value")
elif b>c:
    print(b,"is largest value")
else:
    print(c,"is largest value")

50 is largest value

In [31]:
#6
year=int(input("enter year"))
if year%4==0:
    print(" it's a leap year")
else:
    print("it's not a leap year")

enter year2000
 it's a leap year

In [32]:
#7
a=int(input("enter first student marks"))
b=int(input("enter second student marks"))
c=int(input("enter third student marks"))
d=int(input("enter fourth student marks"))
e=int(input("enter fivth student marks"))
p=(a+b+c+d+e)/5
print(p)
if p>90 and p<=100:
    print("A")
elif p>80 and p<90:
    print("B")
elif p>60 and p<80:
    print("C")
else:
    print("D")

enter first student marks92
enter second student marks78
enter third student marks73
enter fourth student marks90
enter fivth student marks45
75.6
C

In [34]:
#8
a=50
b=int(input("enter a number"))
if a<b:
    print("a is less than b")
elif b<a:
    print("b is less than a")
else:
    print("error")

enter a number40
b is less than a

In [35]:
#9
a=int(input("enter a number till print even number"))
for i in range (2,a+1,2):
    print(i)

enter a number till print even number20
2
4
6
8
10
12
14
16
18
20

In [36]:
#10 even number sum
n=int(input("enter number till find sum"))
sum=0
for i in range (0,n+1,2):
    sum=sum+i
    i=i+sum
print(sum)

enter number till find sum10
30

In [37]:
# odd number sum
n=int(input("enter number till find sum"))
sum=0
for i in range (1,n+1,2):
    sum=sum+i
    i=i+sum
print(sum)

enter number till find sum10
25

In [39]:
#10 fibonacci series
n=int(input("enter a number for fibonacci series"))
first_value=0
second_value=1
for i in range (0,n+1):
    if n<=1:
        next=n
    else:
        next=first_value+second_value
        first_value=second_value
        second_value=next
    print(next)

enter a number for fibonacci series10
1
2
3
5
8
13
21
34
55
89
144

In [40]:
# check prime number
a=int(input("enter a number to check prime number"))
limit=int(a/2)+1
for i in range(2,limit):
    b=a%i
    if b%i==0:
        print(a,"is not a prime number")
        break
else:
    (a,"is a prime number")

enter a number to check prime number20
20 is not a prime number

In [42]:
# sum of digits given number
a=12345678
def getsum(a):
    sum=0
    for digit in str(a):
        sum+=int(digit)
    return sum
print(getsum(a))

36

In [44]:
#revers a number
n=int(input("enter a number"))
a=n
r=0
while n>0:
    d=n%10
    r=r*10+d
    n=n//10
print(r)

enter a number67
76

In [47]:
# change into binary to decimal
a= input("enter a binary number: ")
def binarytodecimal(a):
    decimal=0
    for i in a:
        decimal=decimal*2+int(i)
    print(decimal)
binarytodecimal(a)

enter a binary number: 20
4

In [61]:
import array
from array import*

In [62]:
array=("i",[1,2,3,4,5])
print(array)

('i', [1, 2, 3, 4, 5])

In [ ]:
80# sum of two array
arr1=[]
n=int(input("enter the number of elements"))
for i in range(0,n):
    elements=int(input("enter elements of arr1"))
    arr1.append(elements)
print(arr1)

In [ ]:
arr2=[]
n=int(input("enter the number of elements"))
for i in range(0,n):
    elements=int(input("enter elements of arr1"))
    arr2.append(elements)
print(arr2)

enter the number of elements6
enter elements of arr15
enter elements of arr18
enter elements of arr19
enter elements of arr17
enter elements of arr14
enter elements of arr13
[5, 8, 9, 7, 4, 3]

In [ ]:
arr1

[2, 6, 8, 9, 7, 3]

In [ ]:
arr2

[5, 8, 9, 7, 4, 3]

In [ ]:
arr3=arr1+arr2

In [ ]:
print(arr3)

[2, 6, 8, 9, 7, 3, 5, 8, 9, 7, 4, 3]

In [ ]:
#maximum element
arr3

[2, 6, 8, 9, 7, 3, 5, 8, 9, 7, 4, 3]

In [ ]:
max(arr3)

9

In [ ]:
min(arr3)

2

In [ ]:
import numpy as np

In [ ]:
# multiply two matrix
a = [[12,7,3],
    [4,5,6],
    [7,8,9]]
b = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]
result = np.dot(a,b)
for i in result:
    print(i)

In [ ]:
#sum of matrix
a = [[12,7,3],
    [4,5,6],
    [7,8,9]]
b = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
result = [[a[i][j]+b[i][j]for j in range(len(a[0]))] for i in range(len(a))]
for r in result:
    print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#power of 2
total =  int(input())
for i in range(total):
    print("2 raised to the power ",i,"is",2**i)

3
2 raised to the power  1 is 1
2 raised to the power  2 is 2
2 raised to the power  3 is 4

In [ ]:
#number divisible by another number
num=int(input("enter the number jisse divide krna hai"))
div=int(input("enter the number jisko divide krna hai"))
if num%div:
    print("the number is divible")
else:
    print("the number is not divible")

enter the number jisse divide krna hai5
enter the number jisko divide krna hai20
the number is divible

In [ ]:
#asc value of character
a=input("enter a character")
result=ord(a)
print(result)

enter a characters
115

In [ ]:
# convert decimal to binary,octal,hexadecimal
dec=564
print("the decimal value of ",dec,"is:")
print(bin(dec),"in binary.")
print(oct(dec),"in octal.")
print(hex(dec),"in hexadecimal.")

the decimal value of  564 is:
0b1000110100 in binary.
0o1064 in octal.
0x234 in hexadecimal.