1 # INTERCHANGE FIRST AND LAST

In [2]:
l=[1,2,3,4,5,6,7,8,9]
l[0],l[8]=l[8],[0]
print(l)

[9, 2, 3, 4, 5, 6, 7, 8, [0]]

2  # INTER SWAP TWO ELEMENTS

In [3]:
l=[1,2,3,4,5,6,7,8]
l[2],l[5]=l[5],l[2]
print(l)

[1, 2, 6, 4, 5, 3, 7, 8]

3  # SWAP STRING

In [5]:
l1=["a","b","c","d","e"]
l1[0],l1[1]=l1[1],l1[0]
print(l1)

['b', 'a', 'c', 'd', 'e']

4 #LENGTH

In [7]:
l=[1,2,3,4,5,6,7,8,9]
len(l)

9

5 #MAXIMUM

In [9]:
a=20
b=10
if (a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

a is greater than b

6 #MINIMUM

In [11]:
a=20
b=10
if  (a<b):
    print("a is less than b")
else:
    print("a is greatre than b")

a is greatre than b

7 #CHECK LIST ITEM

In [16]:
l=[1,2,3,4,5,6]
a=2
if a in l:
    print("yes")
else:
    print("no")

yes

8 #CLEAR METHOD

In [18]:
l=[1,2,3,4,5,6]
l.clear()
print(l)

[]

In [19]:
l=[1,2,3,4,5,6]
del l[:]
print(l)

[]

In [20]:
l1=[1,2,3,4]
while (len(l1)!=0):
    l1.pop()
print(l1)

[]

9 #REVERSING LIST ITEM

In [22]:
l=[1,2,3,4,5,6]
l1=l[:: -1]
print(l1)

[6, 5, 4, 3, 2, 1]

10#COPY METHOD

In [24]:
l1=[1,2,3,4,5,6]
l1.copy()

[1, 2, 3, 4, 5, 6]

11#COUNT METHOD

In [27]:
l1=[5,9,8,7,6,2,1,3,4]
l1.count(3)

1

12#AVERAGE

In [31]:
l=[1,2,3,4,5,6,7,8,9]
avg=sum(l)/len(l)
print(avg)

5.0

#SUM

In [2]:
l=[1,2,3,4,5,6,7,8,9]
a=sum(l)
print(a)

45

13#SUM OF ALL NUMBER IN A LIST

In [3]:
list=[10,20,30,40,50,60,70,80,90,100]
sum(list)

550

14#MULTIPLY

In [9]:
import math 
l=[1,2,3,4,5,6,7,8]
multi=math.prod(l)
print(multi)

40320

15 # MINIMUM VALUE IN LIST

In [11]:
l=[10,20,30,40,50,60,70,80]
min(l)

10

16 # MAXIMUM VALUE IN LIST

In [12]:
l=[10,20,30,40,50,60,70,80]
max(l)

80

17 # FIND SECOND LARGEST VALUE

In [25]:
list1=[10,20,30,40,50,60,70,80]
list1.sort()
print(list1)
a=list1[-2]
print("second largest value:",a)

[10, 20, 30, 40, 50, 60, 70, 80]
second largest value: 70

18 # CHECK EVEN NUMBER

In [17]:
a=int(input("enter a number"))
if a%2==0:
    print("even numbers")
else:
    print("no even number here")

enter a number10
even numbers

19  # CHECK ODD NUMBER

In [26]:
a=int(input("enter a number"))
if a%2!=0:
    print("odd number")
else:
    print("no odd number herre")

enter a number9
odd number

20 # PRINT EVEN NUMBER IN RANGE

In [29]:
a=int(input("enter a number till end"))
i=2
for i in range (2,a+1,2):
    print(i)

enter a number till end20
2
4
6
8
10
12
14
16
18
20

21 #PRINT ODD NUMBER IN RANGE

In [1]:
a=int(input("enter a number till end"))
i=1
for i in range(1,a,2):
    print(i)

enter a number till end20
1
3
5
7
9
11
13
15
17
19

22 # COUNT ODD AND EVEN NUMBER IN LIST

In [2]:
l=[13,24,56,78,53,23,45,65]
a,b=0,0
for i in l:
    if i%2==0:
        a=i+1
    else:
        b=b+1
print("even number in the list :",a)
print("odd number in the list :",b)

even number in the list : 79
odd number in the list : 5

23 # PRINT POSITIVE NUMBER IN LIST

In [4]:
l=[1,2,3,-4,5,-6,-7,8]
def positive_number():
    for p in l:
        if p>0:
            print(p)
positive_number()

1
2
3
5
8

34 # PRINT NEGATIVE NUMBER IN LIST

In [5]:
l=[1,2,3,-4,5,-6,-7,8]
def positive_number():
    for p in l:
        if p<0:
            print(p)
positive_number()

-4
-6
-7

25 # PRINT POSITIVE NUMBER IN RANGE

In [6]:
a=int(input("enter a number"))
def pos_num():
    for i in range (0,a+1,2):
        print(i)
pos_num()

enter a number20
0
2
4
6
8
10
12
14
16
18
20

26  #  PRINT NEGATIVE NUMBER IN RANGE

In [7]:
def neg_num():
    a=int(input("enter a start number"))
    b=int(input("enter a end number"))
    for i in range (a,b+1):
        if i<0:
            print(i, end =" ")
neg_num()

enter a start number-10
enter a end number-2
-10 -9 -8 -7 -6 -5 -4 -3 -2

 27 # COUNT POSITIVE AND NEGATIVE NUMBER IN LIST

In [9]:
l=[23,-12,45,-36,43,17]
pos_num,neg_num = 0,0
for i in l:
    if i>0:
        pos_num=pos_num+1
    else:
        neg_num=neg_num+1
print(pos_num)
print(neg_num)

4
2

28 # REMOVE MULTIPLE ELEMENTS FROM A LIST

In [10]:
l1=[23,45,76,43,23,65,98,21]
del l1[1:3]
print(l1)

[23, 43, 23, 65, 98, 21]

29 # REMOVE EMPTY TUPLE FROM LIST

In [14]:
list=[(),(45,43),("aditya","sourabh"),()]
def remove_tup(tuple):
    for i in list:
        if (len(i)==0):
            list.remove(i)
    return list
remove_tup(list)
print(list)

[(45, 43), ('aditya', 'sourabh')]

30 # PRINT DUPLICATE IN A LIST

In [17]:
list=[1,2,1,1,1,2,3,2,2,4,5,6,7,7,7,8,9,9,9,6,6,]
new_list=[]
for i in list:
    n=list.count(i)
    if n>1:
        if new_list.count(i)==0:
            new_list.append(i)
print(new_list)

[1, 2, 6, 7, 9]